[Desktop Entry]
Version=1.0
Type=Application
Name=NVR Monitor
Comment=Monitor de câmeras NVR
Exec=nvr-monitor
Icon=nvr-monitor
Terminal=false
Categories=AudioVideo;Video;
StartupNotify=true
